* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  text-align: center;
}

.titulo {
  color: red;
  font-size: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: blue;
  border: 4px solid yellow;
}

.link {
  text-decoration: none;
  list-style-type: none;
  color: green;
  border: 1px dashed black;
  padding: 10px;
}